body{
    margin: 0;
    padding: 0;
}

.logo{
    height: 80px;
    width: 150px;
    position: absolute;
    position: fixed;
    left: 4%;
    top: 0%;
    z-index: 3;
}

br { clear:left }
.menu_simple {
    position: absolute;
    position: fixed;
    top: 2%;
    width: 100%;
    height: 65px;
    background-color:white;
    z-index: 2;
}
.menu_simple ul {
    margin: 0; padding: 0;
}
.menu_simple ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}
.menu_simple ul li{
    height: 60px;
    width: 50px;
}
.menu_simple ul li a {
    float: left; text-decoration: none;
    color: white; 
    padding: 15px 10px;
    background-color:  white;
}
.menu_simple ul li a:hover, .menu_simple ul li .current {
    color: red;
    background-color: orange;
    height: 35px;

}

.menu_simple ul li a img{
    width: 30px;
    height: 30px;
}

.formaddclass{
    position: absolute;
    top: 70%;
    left: 10%;
    height: 8%;
    padding-left: 20px;
    border: 1px solid black;
    border-radius: 10px;    
    box-shadow: -20px 6px 14px -6px rgba(0,0,0,0.5);
}
.kodekelas{
    position: absolute;
    top: 80%;
    left: 10%;
    height: 8%;
    border: 1px solid black;
    padding-left: 20px;
    border-radius: 10px;    
    box-shadow: -20px 6px 14px -6px rgba(0,0,0,0.5);
}
.addnamakelas{
    position: absolute;
    top: 10%;
    left: 50%;
    height: 8%;
    text-align: center;
    width: 40%;
    border: 1px solid black;
    font-family: Segoe UI;
    font-weight: bold;
    border-radius: 10px;    
    box-shadow: -20px 6px 14px -6px rgba(0,0,0,0.5);
}
.Deskripsi{
    position: absolute;
    top: 25%;
    left: 50%;
    width: 40%;
    font-size: 120%;
    padding-top: 40px;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    font-weight: bold;    
    box-shadow: -20px 6px 14px -6px rgba(0,0,0,0.5);
}
.saveadd{
    position: absolute;
    top: 80%;
    left: 75%;
    width: 20%;
    padding: 1%;
    border-radius: 20px;
    font-family: Segoe UI;
    background-color:#00ffff;
    box-shadow: -20px 6px 14px -6px rgba(0,0,0,0.5);
}
.backadd{
    position: absolute;
    top: 80%;
    left: 50%;
    width: 20%;
    padding: 1%;
    border-radius: 20px;
    font-family: Segoe UI;
    background-color: #00ffff;
    box-shadow: -20px 6px 14px -6px rgba(0,0,0,0.5);
}
.judul1{
    font-size: 30px;
    position: absolute;
    top: 13%;
    left: 25%;
    font-family: Segoe UI;
    font-weight: bold;
}

.logonya1{
    position: absolute;
    top: 25%;
    left: 20%;
    font-size: 30px;
    color: black;
    font-family: Segoe UI;
    font-weight: bold;
    opacity: 10;
}

.kotak{
    width: 50%;
    height: 70%;
    background-color: white;
    position: absolute;
    top: 25%;
    left: 25%;
    border-radius: 6px;
    opacity: 0.8;
    box-shadow: -11px 6px 14px -6px rgba(0,0,0,0.5);

}
.kotakkecil1{
    width: 250px;
    height: 250px;
    background-color: #696969;
    position: absolute;
    top: 7%;
    left: 7%;
    border-radius: 8px;
    opacity: 0.4;
    box-shadow: -11px 6px 14px -6px rgba(0,0,0,0.5);
}


.namacr{
    font-size: 15px;
    position: absolute;
    top: 156%;
    left: 16%;
    font-family: Segoe UI;
    font-weight: bold;
    z-index: 1;
    color: white;
}

.english{
    font-size: 15px;
    position: absolute;
    top: 156%;
    left: 55%;
    font-family: Segoe UI;
    font-weight: bold;
    z-index: 1;
    color: white;
}

.tos{
    font-size: 15px;
    position: absolute;
    top: 156%;
    left: 62%;
    font-family: Segoe UI;
    font-weight: bold;
    z-index: 1;
    color: white;

}
.pp{
    font-size: 15px;
    position: absolute;
    top: 156%;
    left: 75%;
    font-family: Segoe UI;
    font-weight: bold;
    z-index: 1;
    color: white;

}
.contus{
    font-size: 15px;
    position: absolute;
    top: 156%;
    left: 85%;
    font-family: Segoe UI;
    font-weight: bold;
    z-index: 1;
    color: white;

}

.student{
    position: absolute;
    position: fixed;
    top: 0%;
    left: 17%;
    font-size: 25px;
    color: black;
    z-index: 3;
    font-family: Segoe UI;
}

.logo2{
    height: 80px;
    width: 150px;
    position: absolute;
    left: 4%;
    top: 153%;
    z-index: 1;
}
#footer{
    height: 50px;
    position: absolute;
    top: 150%;
    color: white;
    right: 0;
    bottom: -300px;
    left: 0;
    padding: 2rem;
    background-color: #16293E;
    text-align: center;
}

.popupnotif{
    display: none;
    position: relative;
    position: fixed;    
    top: 80px;
    left: 1000px;
    width: 300px;
    height: 200px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 10px #00000029;
    border-radius: 10px;
    z-index: 999;
}

.notif{
    position: relative;
    text-align: center;
    top: 35%;
    color: #000000;
    opacity: 0.3;
    letter-spacing: 3px;
}

.klik{cursor: pointer;}

/*2. profil*/

.popupprofil{
    display: none;
    position: relative;
    position: fixed;    
    top: 80px;
    right: 10px;
    width: 230px;
    height: 100px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 10px #00000029;
    border-radius: 10px;
    z-index: 999;
}
.profilpopup{
    position: absolute;
    width: 15%;
    height: 30%;
    right: 10%;
    bottom: 60%;
}

.teksprofil{
    position: absolute;
    font-family: Segoe UI;
    font-size: 15px;
    text-decoration:none;
    color: black;
    bottom: 65%;
    left: 30%;
}
.tekslogoutpopup{
    position: absolute;
    font-family: Segoe UI;
    font-size: 15px;
    text-decoration:none;
    color: black;
    bottom: 15%;
    left: 30%;
}
.logoutprofilpopup{
    position: absolute;
    width: 15%;
    height: 30%;
    right: 10%;
    bottom: 10%;
}

.sidenav {
  height: 78%;
  width: 0;
  position: absolute;
  position: fixed;
  z-index: 999;
  bottom: 0;
  right: 0;
  background-color: #27A4E3;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: black;
}
.lingkaran{
    width: 50%;
    height: 20%;
    position: absolute;
    bottom: 74%;
    right: 24%;    
    background-color: white;
    border-radius: 60%;
}
.photo{
    position: absolute;
    bottom: 82%;
    left: 42%;
    font-size: 15px;
    color: black;
    z-index: 1;
    font-family: Segoe UI;
    font-weight: bold;
    opacity: 0.5;
}
.sidenav form input{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    width: 90%; 
}
