body{
    margin: 0;
    padding: 0;
}

.logo{
    height: 80px;
    width: 150px;
    position: absolute;
    left: 4%;
    top: 0%;
    z-index: 1;
}

br { clear:left }
.menu_simple {
    position: absolute;
    top: 2%;
    width: 100%;
    height: 65px;
    background-color:white;
    /*transform: translate(-8px,0px);*/
}
.menu_simple ul {
    margin: 0; padding: 0;
    /*transform: translate(1000px,0px);*/
}
.menu_simple ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}
.menu_simple ul li{
    height: 60px;
    width: 50px;
}

.menu_simple ul li a {
    float: left; text-decoration: none;
    color: white; 
    padding: 15px 10px;
    background-color:  white;
}
.menu_simple ul li a:visited {
    color: white;
}
.menu_simple ul li a:hover, .menu_simple ul li .current {
    color: red;
    background-color: orange;
}

.menu_simple ul li a img{
    width: 30px;
    height: 30px;
}

.judul1{
    font-size: 30px;
    position: absolute;
    top: 13%;
    left: 12%;
    font-family: Segoe UI;
    font-weight: bold;
}

.logonya1{
    position: absolute;
    top: 43%;
    left: 20%;
    font-size: 30px;
    color: black;
    z-index: 1;
    font-family: Segoe UI;
    font-weight: bold;
    opacity: 0.5;
}

.kotak{
    width: 1100px;
    height: 350px;
    background-color: white;
    position: absolute;
    top: 25%;
    left: 10%;
    border-radius: 6px;
    opacity: 0.8;
    -webkit-box-shadow: -11px 6px 14px -6px rgba(0,0,0,0.5);
    -moz-box-shadow: -11px 6px 14px -6px rgba(0,0,0,0.5);
    box-shadow: -11px 6px 14px -6px rgba(0,0,0,0.5);

}
.kotakkecil1{
    width: 250px;
    height: 250px;
    background-color: white;
    position: absolute;
    top: 32%;
    left: 14%;
    border-radius: 6px;
    opacity: 0.8;
    -webkit-box-shadow: -11px 6px 14px -6px rgba(0,0,0,0.5);
    -moz-box-shadow: -11px 6px 14px -6px rgba(0,0,0,0.5);
    box-shadow: -11px 6px 14px -6px rgba(0,0,0,0.5);
}
.difficulty1{
    position: absolute;
    top:31.5%;
    left:36.5%;
    font-size: 13px;
    z-index: 1;
    font-family: Segoe UI;
    font-weight: bold;
}

.kotakpilihan1{
        width: 100px;
    height: 35px;
    background-color: white;
    position: absolute;
    top: 32%;
    left: 35%;
    border-radius: 30px;
    opacity: 0.8;
    -webkit-box-shadow: -11px 6px 14px -6px rgba(0,0,0,0.5);
    -moz-box-shadow: -11px 6px 14px -6px rgba(0,0,0,0.5);
    box-shadow: -11px 6px 14px -6px rgba(0,0,0,0.5);

}

.type1{
    position: absolute;
    top:31.5%;
    left:46.5%;
    font-size: 13px;
    z-index: 1;
    font-family: Segoe UI;
    font-weight: bold;
}

.kotakpilihan11{
        width: 100px;
    height: 35px;
    background-color: white;
    position: absolute;
    top: 32%;
    left: 44%;
    border-radius: 30px;
    opacity: 0.8;
    -webkit-box-shadow: -11px 6px 14px -6px rgba(0,0,0,0.5);
    -moz-box-shadow: -11px 6px 14px -6px rgba(0,0,0,0.5);
    box-shadow: -11px 6px 14px -6px rgba(0,0,0,0.5);

}

.namakelas1{
    position: absolute;
    top:37%;
    left:37%;
    font-size: 30px;
    z-index: 1;
    font-family: Segoe UI;
    font-weight: bold;
}

.keterangankelas1{
    position: absolute;
    top:47%;
    left:37.5%;
    font-size: 20px;
    z-index: 1;
    font-family: Segoe UI;
}

.logonya22{
    position: absolute;
    top: 33%;
    left: 63%;
    font-size: 15px;
    color: black;
    z-index: 1;
    font-family: Segoe UI;
    font-weight: bold;
    opacity: 0.5;
}


.kotakkecil2{
    width: 120px;
    height: 120px;
    background-color: white;
    position: absolute;
    top: 28%;
    left: 60%;
    border-radius: 6px;
    opacity: 0.8;
    -webkit-box-shadow: -11px 6px 14px -6px rgba(0,0,0,0.5);
    -moz-box-shadow: -11px 6px 14px -6px rgba(0,0,0,0.5);
    box-shadow: -11px 6px 14px -6px rgba(0,0,0,0.5);
}
.difficulty2{
    position: absolute;
    top: 28%;
    left: 70.5%;
    font-size: 8px;
    z-index: 1;
    font-family: Segoe UI;
    font-weight: bold;
}

.kotakpilihan2{
        width: 55px;
    height: 25px;
    background-color: white;
    position: absolute;
    top: 28%;
    left: 70%;
    border-radius: 30px;
    opacity: 0.8;
    -webkit-box-shadow: -11px 6px 14px -6px rgba(0,0,0,0.5);
    -moz-box-shadow: -11px 6px 14px -6px rgba(0,0,0,0.5);
    box-shadow: -11px 6px 14px -6px rgba(0,0,0,0.5);

}

.type2{
    position: absolute;
    top: 27.5%;
    left: 76%;
    font-size: 9px;
    z-index: 1;
    font-family: Segoe UI;
    font-weight: bold;
}

.kotakpilihan22{
        width: 55px;
    height: 25px;
    background-color: white;
    position: absolute;
    top: 28%;
    left: 75%;
    border-radius: 30px;
    opacity: 0.8;
    -webkit-box-shadow: -11px 6px 14px -6px rgba(0,0,0,0.5);
    -moz-box-shadow: -11px 6px 14px -6px rgba(0,0,0,0.5);
    box-shadow: -11px 6px 14px -6px rgba(0,0,0,0.5);

}

.namakelas2{
    position: absolute;
    top:30%;
    left:70%;
    font-size: 20px;
    z-index: 1;
    font-family: Segoe UI;
    font-weight: bold;
}

.keterangankelas2{
    position: absolute;
    top:36%;
    left:70.5%;
    font-size: 13px;
    z-index: 1;
    font-family: Segoe UI;
}

.logonya33{
    position: absolute;
    top: 57%;
    left: 63%;
    font-size: 15px;
    color: black;
    z-index: 1;
    font-family: Segoe UI;
    font-weight: bold;
    opacity: 0.5;
}

.kotakkecil3{
    width: 120px;
    height: 120px;
    background-color: white;
    position: absolute;
    top: 52%;
    left: 60%;
    border-radius: 6px;
    opacity: 0.8;
    -webkit-box-shadow: -11px 6px 14px -6px rgba(0,0,0,0.5);
    -moz-box-shadow: -11px 6px 14px -6px rgba(0,0,0,0.5);
    box-shadow: -11px 6px 14px -6px rgba(0,0,0,0.5);
}
.difficulty3{
    position: absolute;
    top: 51.7%;
    left: 70.5%;
    font-size: 8px;
    z-index: 1;
    font-family: Segoe UI;
    font-weight: bold;
}

.kotakpilihan3{
        width: 55px;
    height: 25px;
    background-color: white;
    position: absolute;
    top: 52%;
    left: 70%;
    border-radius: 30px;
    opacity: 0.8;
    -webkit-box-shadow: -11px 6px 14px -6px rgba(0,0,0,0.5);
    -moz-box-shadow: -11px 6px 14px -6px rgba(0,0,0,0.5);
    box-shadow: -11px 6px 14px -6px rgba(0,0,0,0.5);

}

.type3{
    position: absolute;
    top: 51.5%;
    left: 76%;
    font-size: 9px;
    z-index: 1;
    font-family: Segoe UI;
    font-weight: bold;
}

.kotakpilihan33{
        width: 55px;
    height: 25px;
    background-color: white;
    position: absolute;
    top: 52%;
    left: 75%;
    border-radius: 30px;
    opacity: 0.8;
    -webkit-box-shadow: -11px 6px 14px -6px rgba(0,0,0,0.5);
    -moz-box-shadow: -11px 6px 14px -6px rgba(0,0,0,0.5);
    box-shadow: -11px 6px 14px -6px rgba(0,0,0,0.5);

}

.namakelas3{
    position: absolute;
    top:55%;
    left:70%;
    font-size: 20px;
    z-index: 1;
    font-family: Segoe UI;
    font-weight: bold;
}

.keterangankelas3{
    position: absolute;
    top:61%;
    left:70.5%;
    font-size: 13px;
    z-index: 1;
    font-family: Segoe UI;
}

.kotakkk{
    width: 1100px;
    height: 300px;
    background-color: white;
    position: absolute;
    top: 95%;
    left: 10%;
    border-radius: 4px;
    opacity: 0.8;
    -webkit-box-shadow: -11px 6px 14px -6px rgba(0,0,0,0.5);
    -moz-box-shadow: -11px 6px 14px -6px rgba(0,0,0,0.5);
    box-shadow: -11px 6px 14px -6px rgba(0,0,0,0.5);
}

.judul2{
    font-size: 30px;
    position: absolute;
    top: 82%;
    left: 12%;
    font-family: Segoe UI;
    font-weight: bold;

}
.namacr{
        font-size: 15px;
    position: absolute;
    top: 156%;
    left: 16%;
    font-family: Segoe UI;
    font-weight: bold;
    z-index: 1;
    color: white;
}

.english{
    font-size: 15px;
    position: absolute;
    top: 156%;
    left: 55%;
    font-family: Segoe UI;
    font-weight: bold;
    z-index: 1;
    color: white;

}

.tos{
    font-size: 15px;
    position: absolute;
    top: 156%;
    left: 62%;
    font-family: Segoe UI;
    font-weight: bold;
    z-index: 1;
    color: white;

}
.pp{
    font-size: 15px;
    position: absolute;
    top: 156%;
    left: 75%;
    font-family: Segoe UI;
    font-weight: bold;
    z-index: 1;
    color: white;

}
.contus{
    font-size: 15px;
    position: absolute;
    top: 156%;
    left: 85%;
    font-family: Segoe UI;
    font-weight: bold;
    z-index: 1;
    color: white;

}

.teacher{
    position: absolute;
    top: 0%;
    left: 17%;
    font-size: 25px;
    color: black;
    z-index: 1;
    font-family: Segoe UI;
}

.klik{cursor: pointer;}

.logo2{
    height: 80px;
    width: 150px;
    position: absolute;
    left: 4%;
    top: 153%;
    z-index: 1;
}
.kotaknewclass{
        width: 90px;
    height: 30px;
    background-color: #5BA8FF;
    position: absolute;
    top: 19%;
    left: 83%;
    border-radius: 30px;
    -webkit-box-shadow: -11px 6px 14px -6px rgba(0,0,0,0.5);
    -moz-box-shadow: -11px 6px 14px -6px rgba(0,0,0,0.5);
    box-shadow: -11px 6px 14px -6px rgba(0,0,0,0.5);

}
.newclass1{
    position: absolute;
    top: 18%;
    left: 83.5%;
    font-size: 13px;
    z-index: 1;
    font-family: Segoe UI;
    font-weight: bold;
}

#footer{
    height: 50px;
    position: absolute;
    top: 150%;
    color: white;
    right: 0;
    bottom: -300px;
    left: 0;
    padding: 2rem;
    background-color: #16293E;
    text-align: center;
/*  position: absolute;
    background:#004161;
    height:10%;
    width: 100%;
    line-height:70px;
    color:#fff;
    text-align:center;
    bottom: 0px;*/

}
.popupnotif{
    display: none;
    position: relative;
    position: fixed;    
    top: 80px;
    left: 1000px;
    width: 300px;
    height: 200px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 10px #00000029;
    border-radius: 10px;
    z-index: 999;
}

.notif{
    position: relative;
    text-align: center;
    top: 35%;
    color: #000000;
    opacity: 0.3;
    letter-spacing: 3px;
}
.popupprofil{
    display: none;
    position: relative;
    position: fixed;    
    top: 80px;
    right: 10px;
    width: 230px;
    height: 100px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 10px #00000029;
    border-radius: 10px;
    z-index: 999;
}
.profilpopup{
    position: absolute;
    width: 15%;
    height: 30%;
    right: 10%;
    bottom: 60%;
}

.teksprofil{
    position: absolute;
    font-family: Segoe UI;
    font-size: 15px;
    text-decoration:none;
    color: black;
    bottom: 65%;
    left: 30%;
}
.tekslogoutpopup{
    position: absolute;
    font-family: Segoe UI;
    font-size: 15px;
    text-decoration:none;
    color: black;
    bottom: 15%;
    left: 30%;
}
.logoutprofilpopup{
    position: absolute;
    width: 15%;
    height: 30%;
    right: 10%;
    bottom: 10%;
}
