body{
	background: url("../Background/bag.jpg") no-repeat;
	background-size: 100%;
	position: fixed;
	top: -10px;
	left: -10px;
	width: 1366px;
	height: 768px;
/*	backdrop-filter: blur(6px);*/
/*	-webkit-backdrop-filter: blur(6px);*/
	font-family: Segoe UI;
	color: white;
}

body:before{
	content: '';	
	background: url("../Background/bag.jpg") no-repeat;
	background-size: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	filter: blur(2px);
}

.bgcolor{
	position: absolute;
	background: rgba(0,0,0,.3);
	width: 100%;
	height: 100%;
	z-index: -1;
}

.navbar{
	position: absolute;
	width: 100%;
	top: 15px;
	height: 63px;
	background: rgba(0,0,0,0);
}

.garis{
	position: absolute;
	top: 30px;
	left: 297px;
	width: 50px;
	border: 2px solid #FF0000;
	border-radius: 50px;
	opacity: 1;
}

.navbar ul{
	font-size: 20px;
	top: -5px;
	left: 600px;
	position: absolute;
	display: flex;
    list-style-type: none;
}

.navbar li a{
	text-decoration: none;
	margin-left: 13px;
	color: white;
	font-weight: 100;
}

.nav1 a{
	padding-right: 13px;
	border-right: 1px solid rgba(255,255,255,1);
}

.nav2 a{
	padding-right: 40px;
	margin-right: 20px;
	border-right: 1px solid rgba(255,255,255,1);
}

.nav3 button{
	padding-right: 15px;
	background: transparent;
	border: none;
	color: white;
	font-family: Segoe UI;
	font-size: 17px;
	outline: none;
	cursor: pointer;
}

.nav4{
	margin-top: 0px;
}
.nav4 button{
	width: 80px;
	height: 35px;
	color: white;
	border: none;
	font-size: 18px;
	outline: none;
	padding: 5px;
	background: #27A4E3;
	border-radius: 7px;
	cursor: pointer;
}

.logo{
	position: relative;
	top: -10px;
	left: 41px;
	width: 150px;
}

.top{
	position: absolute;
	background: rgba(39, 164, 227, 1) 0% 0% no-repeat padding-box;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 6px;
}

.JoinUs{
	position: absolute;
	outline: none;
	cursor: pointer;
	border: none;
	top: 490px;
	left: 642px;
	width: 100px;
	height: 35px;
	background: #27A4E3;
	box-shadow: -3px 5px 17px #000000;
	border-radius: 7px;
}

.f1{
	font-size: 18px;
	text-align: left;
	letter-spacing: 0;
	color: white;
}

.tulis{
	position: absolute;
	color: white;
	top: 170px;
	left: 350px;
	font-size: 55px;
	letter-spacing: 4.5px;
}

.tulis2{
	position: absolute;
	color: white;
	top: 300px;
	left: 430px;
	text-align: center;
	font: Regular 35px/42px SimSun-ExtB;
	letter-spacing: 3px;
	font-weight: 2;
	font-size: 20px;
}

.tombollogin{
	position: relative;
	background-color: #E2E2E2;
	width: 100px;
	height: 50px;
	border-radius: 10px;
}

.popup{
	display: none;
	position: absolute;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}


/*Login*/

.close {
    position: absolute;
    right: 445px;
    top: 85px;
    color: white;
    font-size: 45px;
    font-weight: 50;
    z-index: 999;
}

.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}

.bgbox{
	display: flex;
	justify-content: center;
	align-items: center;
}

.title1 b{
	position: relative;
	top: -155px;
	font-size: 35px;
	color: white;
}
.box{
	top: 100px;
	width: 450px;
	height: 450px;
	background-color: #27A4E3;
	border-radius: 10px;
	padding: 20px;
	text-align: center;
	position: relative;
	box-shadow: 0 3px 4px rgba(0,0,0,.2);
}

.ibox{
	top: 150px;
	left: 0px;
	width: 450px;
	height: 300px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: rgba(226, 226, 226, 1);
	padding: 20px;
	position: absolute;
}

.head {
	position: relative;
	top: 70px;
	left: -20px;
	width: 420px;
	display: flex;
	height: 60px;
}

.head button{
	width: 25%;
	height: 100%;
	float: left;
	border: none;
	border-top-right-radius: 10px;
	outline: none;
	cursor: pointer;
	padding: 10px;
	background-color: #E2E2E2;
	color: #27A4E3;
	font-size: 20px;
}

.up button{
	position: relative;
	top: -40px;
	margin-top: 0px;
	margin-left: 5px;
	margin-right: 5px;
	outline: none;
	border: none;
	border-radius: 4px;
	width: 200px;
	height: 30px;
	color: black;
	font-size: 11px;
	background: white;
	cursor: pointer;
	box-shadow: 0 3px 4px rgba(0,0,0,.2);
}

.up button img{
	position: absolute;
	top: 2px;
	left: 23px;
	padding: 0px;
	margin: 0px;
	width: 25px;
	height: 25px;
}

.up button img{
	left: 15px;
}

.or{
	position: relative;
	display: flex;
    list-style-type: none;
    top: -30px;
    left: -20px;
}

.or .garisatas{
	position: relative;
	background-color: black;
	width: 100%;
	height: 1px;
	cursor: none;
}

.or .bunder{
	position: relative;
	top: -10px;
	margin-left: 10px;
	margin-right: 10px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid black;
}

.bunder p{
	position: relative;
	text-align: center;
	color: black;
	top: 0px;
	left: 0px;
	padding: 20px;
	font-size: 10px;
	transform: translate(-40%, -50%);
}

.down{
	position: relative;
	top: -50px;
	margin-top: 30px;
}
.down input[type="text"],.down input[type="password"]{
	position: relative;
	display: block;
	box-sizing: border-box;
	left: 25px;
	margin-bottom: 15px;
	padding: 4px;
	height: 36px;
	width: 400px;
	box-shadow: 0 3px 4px rgba(0,0,0,.2);
	outline: none;
	border: none;
}

.down input[type="submit"]{
	position: relative;
	top: -15px;
	border: none;
	outline: none;
	background: #27A4E3;
	height: 30px;
	width: 80px;
	margin-top: 20px;
	box-shadow: 0 3px 4px rgba(0,0,0,.2);
	border-radius: 5px;
	cursor: pointer;
	transition: 0.25s;
}

.down h1{
	position: relative;
	text-align: left;
	top: -2px;
	left: -25px;
	font-weight: 13;
	font-size: 12px;
	margin-top: 0px;
}

.down a{
	text-decoration: none;
	color: #0185E9;
}

h1{
	position: absolute;
	font-size: 12px;
	margin-left: 50px;
	margin-top: -60px;
}

.garisbawah{
	position: relative;
	transform: translate(0%);
	left: 21px;
	width: 410px;
	height: 1px;
	background: black;
	top: 5px;
}

.down p{
	position: relative;
	top: 0px;
	font-size: 12px;
}

.Terms{
	color: black;
}

/*Register*/

#register .head button{
	font-size: 16px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.top1 input{
	position: relative;
	top: -45px;
	padding-left: 6px;
	margin-left: 5px;
	margin-right: 5px;
	box-sizing: border-box;
	outline: none;
	border: none;
	width: 200px;
	height: 30px;
	color: black;
	font-size: 11px;
	background: white;
	box-shadow: 0 3px 4px rgba(0,0,0,.2);
}

.top2 input[type=text]{
	position: relative;
	top: -40px;
	padding-left: 6px; 
	outline: none;
	border: none;
	width: 194px;
	height: 30px;
	color: black;
	font-size: 11px;
	background: white;
	box-shadow: 0 3px 4px rgba(0,0,0,.2);
	box-decoration-break: none;
}

.top2 select, .top2 input{
	position: relative;
	left: -90px;
	top: -40px;
	outline: none;
	border: none;
	color: black;
	font-size: 11px;
	background: white;
}

.top2 select{
	position: relative;
	left: 7px;
	width: 40px;
	height: 32px;
	background: #d2d2d2;
	box-shadow: 0 3px 4px rgba(0,0,0,.2);
}

.top2 input[type=number]{
	padding-left: 6px;
	width: 154px;
	height: 30px;
	box-shadow: 0 3px 4px rgba(0,0,0,.2);
}

.top2 input{
	position: relative;
	left: -2.2px;
	margin-left: 5px;
	margin-right: 5px;
}

.top3 input[type=text]{
	position: relative;
	top: -35px;
	padding-left: 6px;
	margin-left: 5px;
	margin-right: 5px;
	box-sizing: border-box;
	outline: none;
	border: none;
	width: 414px;
	height: 30px;
	color: black;
	font-size: 11px;
	background: white;
	box-shadow: 0 3px 4px rgba(0,0,0,.2);
}

.top4 input{
	position: relative;
	top: -30px;
	padding-left: 6px;
	margin-left: 5px;
	margin-right: 5px;
	outline: none;
	border: none;
	width: 194px;
	height: 30px;
	color: black;
	font-size: 11px;
	background: white;
	box-shadow: 0 3px 4px rgba(0,0,0,.2);
}

.regdown input[type="submit"]{
	position: relative;
	top: -15px;
	border: none;
	outline: none;
	background: #27A4E3;
	height: 30px;
	width: 80px;
	margin-top: 20px;
	box-shadow: 0 3px 4px rgba(0,0,0,.2);
	border-radius: 5px;
	cursor: pointer;
	transition: 0.25s;
}

.regdown h1{
	position: relative;
	text-align: left;
	top: -2px;
	left: -25px;
	font-weight: 13;
	font-size: 12px;
	margin-top: 0px;
}

.regdown a{
	text-decoration: none;
	color: #0185E9;
}
.regdown .Terms{
	position: relative;
	top: -30px;
	font-size: 12px;
}

#register input[type=submit]{
	position: relative;
	top: -50px;
}

/*zomm animation*/

#klik{
    animation: zoom 0.6s
}
@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}